.city {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;

    &__capitalise {
        text-transform: capitalize;
    }

    &__container {
        position: absolute;
        top: 0;
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        color: $color-blue-dark-1;
        font-size: 3.5rem;
        width: 60%;
        text-align: center;

        @media only screen and (max-width: $bp-medium) {
            font-size: 3rem;
            line-height: 1.4;
            width: 70%;
        }

        
        @media only screen and (max-width: $bp-medium1) {
            font-size: 2.8rem;
            line-height: 1.4;
            width: 80%;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2.5rem;
            line-height: 1.3;
            width: 80%;
        }

        @media only screen and (max-width: $bp-smaller) {
            font-size: 2.2rem;
            line-height: 1.2;
            width: 80%;
        }

        @media only screen and (max-width: $bp-smallest) {
            font-size: 1.8rem;
            line-height: 1.2;
            width: 80%;
        }
    }


    &__box {
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;

        &__img {
            width: 100%;
            height: 100vh;
            filter: opacity(.2) blur(2px);
            
        }
    }

    &__form-2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        @media only screen and (max-width: $bp-small) {
            justify-content: space-evenly;
        }


        &__submit {
            padding: 5rem 0;
            flex: 0 0 30%;
            background-color: $color-blue-dark-1;
            margin-bottom: 5rem;
            border: none;
            font-family: inherit;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 2.5rem;
            color: #fff;
            cursor: pointer;
            box-shadow: 5px 5px 10px $color-grey-dark-3;
            transition: all .3s;

            &:hover {
                transform: translateY(-.3rem);
                box-shadow: 5px 8px 20px $color-grey-dark-3;
            }

            &:active {
                box-shadow: 5px 5px 10px $color-grey-dark-3;
                transform: translateY(0rem);
            }

            @media only screen and (max-width: $bp-small) {
                flex: 0 0 40%;
            }

            @media only screen and (max-width: $bp-smaller) {
                padding: 3.5rem 0;
                font-size: 2.2rem;
            }

            @media only screen and (max-width: $bp-smallest) {
                padding: 3rem 1rem;
                font-size: 1.8rem;
            }
        }

        &__hidden {
            
            display: none;
        }

    }
}

